.box{
    padding: 20px;
    border: solid black;
    margin: auto;
    background-color: #cac0c0;
    width: 400px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;


}