*{
    padding: 0;
    margin: 0;
}

.box{
   margin: 8rem 32rem;
    max-width: 320px;
    max-height: 320px;
    display: flex;
    
}

.black{
    width: 60px;
    height: 60px;
    background-color:black;
}

.black:hover{
    transform: scale(1.3);
    transition: all 5s linear;
}

.white{
    width: 60px;
    height: 60px;
    background-color:rgb(246, 234, 234);
}

